<?xml version="1.0"?>

<model>
  <name>socket_simple</name>
  <version>1.0</version>
  <sdf version="1.4">model.sdf</sdf>

  <author>
    <name>Kevin Lao</name>
    <email>kevin83825@gmail.com</email>
  </author>

  <description>
    socket_simple for random bin picking test.
  </description>
</model>
