<?xml version="1.0"?>

<model>
  <name>6axistest</name>
  <version>1.0</version>
  <sdf version="1.4">6axistest.sdf</sdf>

  <author>
    <name>Eric Chuang</name>
    <email>kaichiehc1325@hotmail.com</email>
  </author>

  <description>
    A kinect-like depth sensor with realistic noise added.
  </description>
</model>
