<?xml version="1.0"?>

<model>
  <name>DepthSensor</name>
  <version>1.0</version>
  <sdf version="1.4">model.sdf</sdf>

  <author>
    <name>Kevin Lai</name>
    <email>kevin83825@gmail.com</email>
  </author>

  <description>
    A kinect-like depth sensor with realistic noise added.
  </description>
</model>
